html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#menubutton {
  height: 50px;
  width: 50px;
  border-radius: 20%;
  background-color: lightgrey;
  background-image: url("./images/menuicon.png");
  background-size: cover;
  position: fixed;
  top: 10%;
  right: 10%;
}

#sidebar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all ease-in-out 0.5s;
  transition: all 0.5s;
  background: #040b14;
  color: whitesmoke;
  align-items: center;
  justify-content: space-around;
}

#main {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 17%;
}

#profileimg {
  margin: auto;
  display: block;
  width: 150px;
  border: 8px solid grey;
  border-radius: 50%;
}

#socialmedia a {
  background-color: whitesmoke;
}

#socialmedia a:hover {
  background-color: gray;
}

#nav a {
  color: gray;
}

#nav a:hover {
  color: whitesmoke;
}

#nav a:active {
  color: black;
  background-color: whitesmoke;
}

#home {
  background-image: url("./images/developerimg.jpeg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#fadein {
  position: relative;
  top: 15%;
  left: 20%;
  color: whitesmoke;
}

#helloworld {
  position: absolute;
  top: 5%;
  left: 30%;
  font-family: "Merienda", cursive;
  color: #00a8d1;
  font-size: x-large;
  transform: rotate(18deg);
}

#about img {
  padding-right: 20px;
  padding-bottom: 10px;
  height: 200px;
  width: 180px;
  float: left;
}

#about,
#skills,
#portfolio {
  padding: 50px;
  background-color: whitesmoke;
}

#education,
#experience,
#contact {
  padding: 50px;
  background-color: lightgrey;
}

#education p strong {
  background-color: whitesmoke;
}

.aboutlayout > div {
  padding: 20px;
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.timeline-item {
  position: relative;
  margin-bottom: 50px;
}

.timeline-item::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #00a8d1;
  border-radius: 50%;
  top: 0;
  left: 50%;
  margin-left: -10px;
}

.timeline-item.left .timeline-content {
  left: 70%;
}

.timeline-item.right .timeline-content {
  left: 20%;
}

.timeline-content {
  position: relative;
  left: 30px;
}

.timeline-date {
  font-weight: bold;
  margin-bottom: 10px;
}

.timeline-description {
  margin-bottom: 10px;
}
